{:paths ["src"]
 :deps  {org.babashka/http-client                      {:mvn/version "0.4.21"}
         org.babashka/cli                              {:mvn/version "0.8.60"}
         org.babashka/json                             {:mvn/version "0.1.6"}
         babashka/fs                                   {:mvn/version "0.5.22"}
         com.github.oliyh/martian                      {:mvn/version "0.1.26"}
         com.github.oliyh/martian-babashka-http-client {:mvn/version "0.1.26"}
         org.clj-commons/pretty                        {:mvn/version "3.2.0"}
         com.taoensso/timbre                           {:mvn/version "6.6.0-RC1"}
         com.taoensso/encore                           {:mvn/version "3.122.0"}
         com.fulcrologic/statecharts                   {:mvn/version "1.2.6"}
         ;com.fulcrologic/statecharts                   {:git/url "https://github.com/michaelwhitford/statecharts.git"
         ;                                               :git/sha "926d1234cff75f6507ddccbc648274efac3a1c2a"}
         djblue/portal                                 {:mvn/version "0.58.0"}
         selmer/selmer                                 {:mvn/version "1.12.61"}
         lumiere/lumiere                               {:mvn/version "1.0.0-SNAPSHOT"}}}
